# =========================
# Terraform
# =========================
.terraform/
*.tfstate
*.tfstate.*

crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform lock file (keep or ignore based on team)
.terraform.lock.hcl

# =========================
# Environment / Secrets
# =========================
.env
.env.*

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE Files
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log